<style>
body {
    background-color: rgb(240, 240, 240);
}

li {
    font-family: verdana;
    font-size: 12px;

}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
}

p {
    font-family: verdana;
    font-size: 12px;
}

figcaption {

    font-family: verdana;
    font-size: 8px;
}

figure {

text-align: center;
}

img{

text-align: center;
}

</style>